# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# CMake files
core/CMakeFiles
core/CMakeCache.txt

#Next editor
*.py~

# C extensions
*.so

# Media resource
media/

# Data resource
core/data
